# Deployed Express Render URL (exclude trailing slash)
VITE_API_URL=https://event-platform-backend-u2sx.onrender.com

# Supabase API endpoints (Retrieve from Supabase -> Project Settings -> API)
VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-public-key
